body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Barra de navegación */
nav {
  background-color: #004d40;
  color: white;
  padding: 15px;
  text-align: center;
}

/* Contenedor principal */
.container {
  display: flex;
  /* Flexbox para dividir aside y main */
  min-height: 80vh;
  /* ocupa casi toda la pantalla */
}

aside {
  background-color: #e0f2f1;
  width: 25%;
  /* ancho fijo para el menú lateral */
  padding: 20px;
}

main {
  background-color: #f1f8e9;
  flex: 1;
  /* ocupa el espacio restante */
  padding: 20px;
}

/* Footer */
footer {
  background-color: #004d40;
  color: white;
  text-align: center;
  padding: 10px;
}